bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
.idea/
*.csproj.user
*.slnLaunch.user
*/launchSettings.json
/FileServerSlave/Properties/launchSettings.json
/FileServerMaster/Properties/launchSettings.json
/DiscoveryServer/Properties/launchSettings.json
